.pokebg-Fire {
    background-color: #F08030;
}

.pokebg-Psychic {
    background-color: #d139d1;
}

.pokebg-Grass {
    background-color: #78C850;
}

.pokebg-Water {
    background-color: #6890F0;
}

.pokebg-Ground {
    background-color: #E0C068;
}

.pokebg-Bug {
    background-color: #A8B820;
}

.pokebg-Normal {
    background-color: #919191;
}

.pokebg-Poison {
    background-color: #A040A0;
}

.pokebg-Electric {
    background-color: #F8D030;
}

.pokebg-Fairy {
    background-color: #EE99AC;
}

.pokebg-Fighting {
    background-color: #C03028;
}

.pokebg-Ice {
    background-color: #98D8D8;
}

.pokebg-Ghost {
    background-color: #705898;
}

.pokebg-Flying {
    background-color: #A890F0;
}

.pokebg-Rock {
    background-color: #B8A038;
}

.pokebg-Dragon {
    background-color: #7038F8;
}

.pokebg-Dark {
    background-color: #705848;
}

.pokebg-Steel {
    background-color: #B8B8D0;
}

.pokemon-card {
    border: 10px solid #ffcb05;
    box-shadow: 0px 0px 20px black;
    border-radius: 15px;
    height: 200px !important;
    width: 160px !important;
    cursor:pointer;
}

.pokemon-card:active {
    width: 175px !important;
    height: 215px !important;
}

@media (min-width: 768px) { 
    .pokemon-card:hover {
        width: 175px !important;
        height: 215px !important;
    }
 }

.pokemon-name {
    font-weight: bold;
    color: white;
    font-size: 27px;
}

.pokeball-validation{
    width: 35px;
    height: 35px;
    top:-20px;
    right:-20px
}

.poke-disabled {
    filter: brightness(0);
}
.no-ball {
    display: none;
}